:root {
    --bodyBackGround: linear-gradient(135deg, #284b73 0%, #c3cfe2 100%);
    --messengerBackGround: #ffffff;
    --border: 2px solid #ddd;
    --leftMessageBackGround: #ba4e8e;
    --hoverSendMessage: #ba4e8e;
    --rightMessageBackGround: #3290fa;
    --headerFooterBackGround: #284b73;
    --colorText: #ffffff;
    --colorButton: #102335;
}
  
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--bodyBackGround);
    font-family: Helvetica, sans-serif;
}
  
.messengerBox {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 8px;
    background: var(--messengerBackGround);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}
  
.messengerBoxHeader {
    font-size: medium;
    justify-content: space-between;
    padding: 24px;
    text-align: center;
    border-bottom: var(--border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: var(--headerFooterBackGround);
    color: var(--colorText);
}
  
.messengerBoxHeaderTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.messengerBoxHeaderTitle span{
    margin-left: 8px;
}
  
.messenger {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.messenger::-webkit-scrollbar {
    width: 6px;
}

.messenger::-webkit-scrollbar-track {
    background: #ddd;
}

.messenger::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 8px;
}

.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
  
.messageImage {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: var(--leftMessageBackGround);
    background-image: url(https://cdn-icons-png.flaticon.com/512/4233/4233830.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
  
.messageBubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--leftMessageBackGround);
    color: var(--colorText);
}

.messageInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.messageInfoName {
    margin-right: 10px;
    font-weight: bold;
}

.messageInfoTime {
    font-size: 0.85em;
}
  
.leftMessage .messageBubble {
    border-bottom-left-radius: 0;
    word-break: break-word;
}
  
.rightMessage {
    flex-direction: row-reverse;
}

.rightMessage .messageBubble {
    background: var(--rightMessageBackGround);
    color: var(--colorText);
    border-bottom-right-radius: 0;
    word-break: break-word;
}

.rightMessage .messageImage {
    margin: 0 0 0 10px;
}
  
.messageInputArea {
    display: flex;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: var(--border);
    background: var(--headerFooterBackGround);
}

.messageInputArea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.messageInput {
    flex: 1;
    background: var(--colorText);
}

.buttonSendMessage {
    margin-left: 10px;
    background: var(--colorButton);
    color: var(--colorText) ;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.buttonSendMessage span{
    padding: 8px 8px 8px 12px;
    font-size: 32px !important;    
}

.buttonSendMessage:hover {
    background: var(--hoverSendMessage);
}
  
.messenger {
    background-image: url(X.svg);  
}  

@media screen and (max-width: 550px) {
    .messageInputArea *{
        padding: 8px;
    }

    .messageBubble{
        max-width: 255px;
    }
}
